body{
    font-family: "Microsoft YaHei";
    background-color: #F0F0F0;
}
.finish-img{
    text-align: center;
    margin-top: 40px;
}
.finish-title{
    font-size:44px;
    color: #1A1A1A;
    text-align: center;
    font-weight:bold;
    margin-top: 20px;
    margin-bottom: 30px;
}
.finish-info{
    background-color: #FFFFFF;
    margin-bottom: 30px;
}
.line{
    background-color: gainsboro;
    height: 2px;
    width: 100%;
    margin-bottom:30px;
}
.info-img{
    width: 32%;
}
.img-title{
    width:100%;
}
.info-desc{
    width: 65%;
    padding-left: 2%;
}
.info-box{
    padding-left: 2%;
    margin-bottom:10px;
}
.info-name{
    font-size:50px;
    padding: 1%;
    color:#1A1A1A;
}
.info-time{
    font-size:32px;
    color:#666666;
    padding: 1%;
}
.info-price{
    font-size:40px;
    color:#FF3939;
    padding: 1%;
}
.children-info{
    padding-left: 2%;
    padding-bottom:30px;
    height:40%;
}
.photo-td{
    width: 30%;
}
.children-td{
    width: 65%;
    padding-left: 2%;
}
.children-name{
    color: #1A1A1A;
    font-size:50px;
}
.children-age{
    color: #666666;
    font-size:40px;
    padding-top: 3%;
}
.children-school{
    color: #666666;
    font-size:40px;
    padding-top: 3%;
}
.order-box{
    background-color: #FFFFFF;
}
.order-price{
    color:#1A1A1A;
    text-align: center;
    font-size:44px;
    padding-bottom: 20px;
}
.real-price{
    text-align: center;
    font-size: 50px;
    color:#FF3939;
    padding-bottom: 40px;
}
.order-id{
    color:#1A1A1A;
    font-size:44px;
    padding-bottom: 30px;
    padding-left: 3%;
}
.order-time{
    color:#999999;
    font-size:40px;
    padding-bottom: 20px;
    padding-left: 3%;
}