body{
    font-family: "Microsoft YaHei";
    background-color: #F0F0F0;
    margin:0;
}
.title-des{
    padding-left: 30px;
}
.title-name{
    font-size:36px;
    color:#1A1A1A;
}
.title-age{
    font-size:24px;
    color:#666666;
    padding-top:18px;
}
.title-price{
    font-size:40px;
    color:#FF3939;
    padding-top: 12px;
}
.title-box{
    padding:30px;
    background-color:#FFFFFF;
}
.info-box{
    margin-top: 2%;
}
.info-box-row{
    margin-top: 0.2%;
    padding:4%;
    background-color: #ffffff;
}
.help-box{
    color:#CCCCCC;
}
.info-name{
    font-size:28px;
    width:35%;
    display:inline-block;
    color:#1A1A1A;
}
.arrow-name{
    font-size:28px;
    width:100%;
    display:inline-block;
    color:#1A1A1A;
}
.arrow-one{
    width:35%;
}
.arrow-two{
    width:70%;
}
.arrow-three{
    width:12px;
}
.info-enter{
    width:60%;
    display:inline-block;
    float:right;
}
.info-enter{
    width:60%;
    display:inline-block;
    float:right;
}
.info-input{
    border:0px;
    height: 40px;
    font-size:28px;
    width:100%;
    color:#1A1A1A;
    text-align: right;
    appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari 和 Chrome */
}
.info-select{
    border:0px;
    font-size:36px;
    width:100%;
    font-size:28px;
    direction: rtl;
    appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari 和 Chrome */
}
.file {
    position: relative;
    display: inline-block;
    color: #1A1A1A;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
    float:right;
    font-size:28px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.arrow{
    width:10px;
    height:14px;
    margin-left:20px;
}
.line{
    background-color: gainsboro;
    height: 2px;
    width: 100%;
    margin-bottom:20px;
}
.process-box{
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.process-box td{
    font-size:24px;
    position:relative;
}
.done-font{
    color:#3E89D2
}
.do-font{
    color:#B3B3B3
}
.line-margin{
    padding-bottom:44px;
}
.line-blue{
    padding-bottom:44px;
    border-bottom: 2px solid #3E89D2;
}
.line-grey{
    padding-bottom:44px;
    border-bottom: 2px solid #B3B3B3;
}
.process-img{
    padding-top: 20px;
    width: 48px;
    height: 48px;
    position: absolute;
    margin: -25px;
    left: 50%;
}
.bottom-box{
    height:120px;
}
.step-td{
    width:50%;
    height:80px;
    display:inline-block;
}
.step-pre{
    font-size:32px;
    color: #3E89D2;
    font-weight:bold;
    background-color: #FFFFFF;
    border:3px solid #3E89D2;
    height:100%;
    width: 98%;
    border-radius:9px;
    appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari 和 Chrome */
}
.step-next{
    font-size:32px;
    color:#FFFFFF;
    font-weight:bold;
    background-color: #3E89D2;
    height:100%;
    width: 98%;
    border-radius:9px;
    appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari 和 Chrome */
}
.step-button{
    font-size:32px;
    color:#FFFFFF;
    font-weight:bold;
    background-color: #3E89D2;
    height:100%;
    width: 100%;
    border-radius:9px;
    appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari 和 Chrome */
}
.confirm-disable{
    font-size:32px;
    color:#FFFFFF;
    font-weight:bold;
    background-color:darkgrey;
    height:100%;
    width: 100%;
    border-radius:9px;
    appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari 和 Chrome */
}
.button-box{
    bottom: 0;
    position:fixed;
    border-top:1px solid #CCCCCC;
    padding: 20px 4% 20px 4%;
    width:92%;
    background:#FFFFFF;
}
.button-div{
    width: 100%;
    height: 80px;
}
.step-desc{
    width:40%;
    height:80px;
    font-size:24px;
    color:#1A1A1A;
}
.confirm-price{
    color:#FF3939;
    font-size:40px;
}
.button-td{
    width:100%;
    height:80px;
    display:inline-block;
}
.notice{
    position: fixed;
    bottom: 121px;
    background-color: lightgoldenrodyellow;
    color: red;
    width: 100%;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    display: none;
}
.interest-box td{
    width:25%;
    padding-bottom: 10px;
}
.interest{
    font-size: 28px;
    color: #1A1A1A;
    text-align: center;
    padding: 10px;
    margin: 2px;
    border:1px solid grey;
    border-radius:10px;
}
.interest-selected{
    font-size: 28px;
    color: #3E89D2;
    text-align: center;
    padding: 10px;
    margin: 2px;
    border:1px solid #3E89D2;
    border-radius:10px;
}

::-webkit-input-placeholder { color:#CCCCCC; }
::-moz-placeholder { color:#CCCCCC; } /* firefox 19+ */
:-ms-input-placeholder { color:#CCCCCC; } /* ie */
input:-moz-placeholder { color:#CCCCCC; }
