body{
    font-family: "Microsoft YaHei";
    margin:0;
    padding:0;
}
.detail-box{
    position: relative;
    padding-bottom: 120px;
}
.detail-img{
    width: 100%;
    height: auto;
}
.title{
    font-size:36px;
    color:#1A1A1A;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
}
.title-tag{
    border: 1px solid #CCAA77;
    color: #CCAA77;
    height:36px;
    width: 108px;
    font-size:24px;
    text-align:center;
    float:right;
    margin-top: 12px;
}

.title-money{
    font-size:40px;
    color:#FF3939;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.real-money{
    color: #999999;
    font-size:24px;
    margin-left: 20px;
}
.title-line{
    background-color: #E1E1E1;
    height: 1px;
    margin-left: 30px;
    margin-right: 30px;
}
.subtitle-box{
    margin-top:20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom:30px;
}
.subtitle-time{
    color:#999999;
    font-size:28px;
    padding-top: 10px;
    border-right: 1px solid #999999;
}
.subtitle-age{
    color:#999999;
    font-size:28px;
    padding-top: 10px;
    padding-left: 30px;
}
.subtitle-desc{
    color:#1A1A1A;
    font-size:28px;
    margin-left: 20px;
}
.activity{
    margin-top: 40px;
    text-align:center;
    color:#CCAA77;
    font-size:28px;
    font-weight:bold;
}
.activity-desc{
    margin-left:20px;
    margin-right:20px;
}
.intro{
    font-size:28px;
    color:#333333;
    margin:30px 30px 30px 30px;
    line-height:60px;
}
.activity-box{
    position:relative;
    top:-50px;
}
.box-one{
    border:2px solid #CCAA77;
    width:160px;
    height:76px;
    margin: 0 auto;
    background-color:#FFFFFF;
}
.box-two{
    margin:8px;
    border:2px solid #CCAA77;
    padding:10px;
    color:#CCAA77;
    font-size:28px;
    text-align:center;
    font-weight:bold;
}
.day{
    margin-left:2.5%;
    font-weight:bold;
    font-size:28px;
    color:#333333;
}
.process{
    font-size:20px;
    color:#4F4F4F;
    line-height:40px;
}
.box{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom:50px;
}
.link{
    text-align:center;
    font-size:28px;
    text-decoration: none;
    padding-bottom:40px;
}
.link a{
    text-decoration: none;
    color:#333333;
}
.bottom-box{
    padding-top:40px;
    background-color:#F0F0F0;
    padding-bottom: 30px;
}
.icon{
    width:2%;
}
.float-button{
    border-top:1px solid #E1E1E1;
    position:fixed;
    padding:20px 5% 20px 5%;
    bottom: 0;
    width:90%;
    height:auto;
    background-color: #ffffff;
}
.line{
    background-color: #E1E1E1;
    height: 1px;
    width: 100%;
    margin-bottom:10px;
}
.consult{
    color:#3E89D2;
    width:25%;
    font-size:12px;
    text-align:center;
}
.consult-button{
    width:70%;
    height:80px;
 }
.consult-img{
    padding-top: 2%;
}
.consult-title{
    font-size:24px;
    color:#3E89D2;
}
.apply-button{
    color:#FFFFFF;
    height:80px;
    background-color: #3E89D2;
    border-radius:9px;
    appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari 和 Chrome */
}
.consult-button input{
    width:100%;
    height:100%;
    font-size:32px
}

.float-box{
    border-top:1px solid #E1E1E1;
    position:fixed;
    bottom: 0;
    height:auto;
    background-color: #ffffff;
    display:none;
    z-index:20000;
    padding: 30px 30px 20px 30px;
}
.title-des{
    padding-left: 30px;
}
.title-name{
    font-size:36px;
    color:#1A1A1A;
}
.title-age{
    font-size:24px;
    color:#666666;
    padding-top:18px;
}
.title-price{
    font-size:40px;
    color:#FF3939;
    padding-top: 12px;
}
.title-box{
    padding-bottom:30px;
}
.course-box{
    padding-top: 20px;
    padding-bottom: 20px;
}
.course-title{
    font-size:24px;
    color:#666666;
}
.course-time{
    padding-top: 20px;
}
.course-time table{
    width: 100%;
}
.course-time td{
    width: 20%;
    padding-right:20px;
}
.course-session{
    border:1px solid grey;
    border-radius:4px;
    padding-top: 5%;
    padding-bottom: 5%;
    color:#1A1A1A;
    font-size:24px;
}
.course-city{
    padding: 10%;
    border:1px solid grey;
    border-radius:4px;
    text-align: center;
    color:#1A1A1A;
    font-size:24px;
}
.course-button{
    text-align:center;
    height: auto;
    padding-top:20px;
}
.course-button input{
    font-size:32px;
    width:100%;
}
.mask{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:gray;
    display:none;
    z-index:10000;
    opacity:0.5;
    filter: alpha(opacity=30);
    overflow:hidden
}