body{
    font-family: "Microsoft YaHei";
    background-color: #F0F0F0;
    margin:0;
}
.finish-img{
    text-align: center;
    margin-top: 40px;
}
.finish-title{
    font-size:44px;
    color: #1A1A1A;
    text-align: center;
    font-weight:bold;
    margin-top: 20px;
    margin-bottom: 50px;
}
.finish-info{
    background-color: #FFFFFF;
    margin-bottom: 30px;
}
.line{
    background-color: #CCCCCC;
    height: 2px;
    width: 100%;
}
.children-info{
    padding:30px;
}
.photo-td{
    width: 20%;
}
.photo-img{
    width:100%;
}
.children-td{
    width: 70%;
    padding-left: 30px;
}
.children-name{
    color: #1A1A1A;
    font-size:30px;
    padding-bottom: 20px;
}
.children-desc{
    color: #666666;
    font-size:24px;
    padding-bottom: 20px;
}
.order-box{
    background-color: #FFFFFF;
}
.order-price{
    color:#1A1A1A;
    text-align: center;
    font-size:44px;
    padding-bottom: 20px;
}
.real-price{
    text-align: center;
    font-size: 50px;
    color:#FF3939;
    padding-bottom: 40px;
}
.order-id{
    color:#1A1A1A;
    font-size:44px;
    padding-bottom: 30px;
    padding-left: 3%;
}
.order-time{
    color:#999999;
    font-size:40px;
    padding-bottom: 20px;
    padding-left: 3%;
}
.title-des{
    padding-left: 30px;
}
.title-name{
    font-size:36px;
    color:#1A1A1A;
}
.title-age{
    font-size:24px;
    color:#666666;
    padding-top:18px;
}
.title-price{
    font-size:40px;
    color:#FF3939;
    padding-top: 12px;
}
.title-box{
    padding:30px;
    background-color:#FFFFFF;
}